@model GestionPlaneacionDidacticaWEB.Models.eva_planeacion

@{
    ViewData["Title"] = "FicViPlaneacionInsert";
}

<h2>FicViPlaneacionInsert</h2>

<h4>eva_planeacion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FicViPlaneacionCreate" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReferenciaNorma" class="control-label"></label>
                <input asp-for="ReferenciaNorma" class="form-control" />
                <span asp-validation-for="ReferenciaNorma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Revision" class="control-label"></label>
                <input asp-for="Revision" class="form-control" />
                <span asp-validation-for="Revision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actual" class="control-label"></label>
                <input asp-for="Actual" class="form-control" />
                <span asp-validation-for="Actual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompetenciaAsignatura" class="control-label"></label>
                <input asp-for="CompetenciaAsignatura" class="form-control" />
                <span asp-validation-for="CompetenciaAsignatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AportacionPerfilEgreso" class="control-label"></label>
                <input asp-for="AportacionPerfilEgreso" class="form-control" />
                <span asp-validation-for="AportacionPerfilEgreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
