@model GestionPlaneacionDidacticaWEB.Models.eva_planeacion_fuentes

@{
    ViewData["Title"] = "FicViFuentesEdit";
    var idAsignatura = ViewBag.IdPlaneacion;
    var idPlaneacion = ViewBag.IdPlaneacion;
}

<h2>FicViFuentesEdit</h2>

<h4>eva_planeacion_fuentes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FicViFuentesEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="IdAsignatura" class="control-label"></label>
                <input asp-for="IdAsignatura" class="form-control" />
                <span asp-validation-for="IdAsignatura" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdPlaneacion" class="control-label"></label>
                <input asp-for="IdPlaneacion" class="form-control" />
                <span asp-validation-for="IdPlaneacion" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdFuente" class="control-label"></label>
                <input asp-for="IdFuente" class="form-control" />
                <span asp-validation-for="IdFuente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridad" class="control-label"></label>
                <input asp-for="Prioridad" class="form-control" />
                <span asp-validation-for="Prioridad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label"></label>
                <input asp-for="Observaciones" class="form-control" />
                <span asp-validation-for="Observaciones" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UsuarioReg" class="control-label"></label>
                <input asp-for="UsuarioReg" class="form-control" />
                <span asp-validation-for="UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaReg" class="control-label"></label>
                <input asp-for="FechaReg" class="form-control" />
                <span asp-validation-for="FechaReg" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="FechaUltMod" class="control-label"></label>
                <input asp-for="FechaUltMod" class="form-control" />
                <span asp-validation-for="FechaUltMod" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="UsuarioUltMod" class="control-label"></label>
                <input asp-for="UsuarioUltMod" class="form-control" />
                <span asp-validation-for="UsuarioUltMod" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Activo" class="control-label"></label>
                <input asp-for="Activo" class="form-control" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Borrado" class="control-label"></label>
                <input asp-for="Borrado" class="form-control" />
                <span asp-validation-for="Borrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FicViFuentesList" asp-route-idPlaneacion="@idPlaneacion" asp-route-IdAsignatura="@idAsignatura">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
