@model GestionPlaneacionDidacticaWEB.Models.eva_planeacion_criterios_evalua

@{
    ViewData["Title"] = "FicViCriteriosEdit";
}

<h2>FicViCriteriosEdit</h2>

<h4>eva_planeacion_criterios_evalua</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FicViCriteriosEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdCriterio" class="control-label"></label>
                <input asp-for="IdCriterio" class="form-control" />
                <span asp-validation-for="IdCriterio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdAsignatura" class="control-label"></label>
                <input asp-for="IdAsignatura" class="form-control" />
                <span asp-validation-for="IdAsignatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTema" class="control-label"></label>
                <input asp-for="IdTema" class="form-control" />
                <span asp-validation-for="IdTema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPlaneacion" class="control-label"></label>
                <input asp-for="IdPlaneacion" class="form-control" />
                <span asp-validation-for="IdPlaneacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCompetencia" class="control-label"></label>
                <input asp-for="IdCompetencia" class="form-control" />
                <span asp-validation-for="IdCompetencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesCriterio" class="control-label"></label>
                <input asp-for="DesCriterio" class="form-control" />
                <span asp-validation-for="DesCriterio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Porcentaje" class="control-label"></label>
                <input asp-for="Porcentaje" class="form-control" />
                <span asp-validation-for="Porcentaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaReg" class="control-label"></label>
                <input asp-for="FechaReg" class="form-control" />
                <span asp-validation-for="FechaReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioReg" class="control-label"></label>
                <input asp-for="UsuarioReg" class="form-control" />
                <span asp-validation-for="UsuarioReg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaUltMod" class="control-label"></label>
                <input asp-for="FechaUltMod" class="form-control" />
                <span asp-validation-for="FechaUltMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioUltMod" class="control-label"></label>
                <input asp-for="UsuarioUltMod" class="form-control" />
                <span asp-validation-for="UsuarioUltMod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Activo" class="control-label"></label>
                <input asp-for="Activo" class="form-control" />
                <span asp-validation-for="Activo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Borrado" class="control-label"></label>
                <input asp-for="Borrado" class="form-control" />
                <span asp-validation-for="Borrado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
